@import url('//at.alicdn.com/t/font_353104_dgm8zo7f5s46lxr.css');
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 1300px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt48 {
  margin-top: 48px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml48 {
  margin-left: 48px;
}

.skeleton-bg {
  background: #f5f5f5;
}


@media (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }
}